.hero-container{
    font-family: "Merriweather", serif;
    background-image: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 0) 100%), url(/images/Banner\ Image.png);
    height: 600px;
    width: 1320px;
    align-content: center;
    text-align: center;
    color: white;
    border-radius: 16px;
    margin: 50px auto 0 auto;
}
.hero-subtitle{
    font-size: 32px;
    margin: 0;
}
.hero-title{
    margin: 10px 0 0 0;
    font-size: 72px;
}
.offer{
    font-family: "Inter", sans-serif;
    margin: 120px auto 0 0;
    align-content: center;
    text-align: center;
}
.offer-title{
    font-size: 88px;
    color: red;
    font-weight: bold;
    margin: 0;
}
.holiday-txt{
    margin: 48px 0 0 0;
    font-weight: 500;
    font-size: 24px;
    color: red;
    margin-bottom: 16px;
}
.category{
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 48px;
}
.party-container